In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file_list = [f'../regenie_output/PD_ukb_step2_LTFH.chr{i}_ltfh.regenie' for i in range(1,23)]

In [3]:
merged = pd.DataFrame()
for i in range(0,22):
    print(f'Reading Chromosome {""*len(str(i+1))}{i+1} statsfile')
    merged = merged.append(pd.read_csv(file_list[i], sep=' '))

Reading Chromosome 1 statsfile
Reading Chromosome 2 statsfile
Reading Chromosome 3 statsfile
Reading Chromosome 4 statsfile
Reading Chromosome 5 statsfile
Reading Chromosome 6 statsfile
Reading Chromosome 7 statsfile
Reading Chromosome 8 statsfile
Reading Chromosome 9 statsfile
Reading Chromosome 10 statsfile
Reading Chromosome 11 statsfile
Reading Chromosome 12 statsfile
Reading Chromosome 13 statsfile
Reading Chromosome 14 statsfile
Reading Chromosome 15 statsfile
Reading Chromosome 16 statsfile
Reading Chromosome 17 statsfile
Reading Chromosome 18 statsfile
Reading Chromosome 19 statsfile
Reading Chromosome 20 statsfile
Reading Chromosome 21 statsfile
Reading Chromosome 22 statsfile

In [4]:
merged

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,INFO,N,TEST,BETA,SE,CHISQ,LOG10P
0,1,10177,rs367896724,A,AC,0.398746,0.466462,418678,ADD,-0.000447,0.000367,1.480340,0.650292
1,1,10235,rs540431307,T,TA,0.000350,0.197795,418678,ADD,0.007423,0.014756,0.253039,0.211165
2,1,10352,rs201106462,T,TA,0.393030,0.444533,418678,ADD,-0.000238,0.000378,0.395956,0.276392
3,1,10511,rs534229142,G,A,0.001266,0.440420,418678,ADD,-0.007117,0.005213,1.863500,0.763912
4,1,10539,rs537182016,C,A,0.000509,0.190350,418678,ADD,0.007349,0.012501,0.345642,0.254464
...,...,...,...,...,...,...,...,...,...,...,...,...,...
946145,22,51241285,rs7287738,T,G,0.000591,0.125207,418678,ADD,0.012991,0.014362,0.818179,0.436860
946146,22,51241309,rs534860445,C,T,0.000010,0.014237,418678,ADD,-0.263161,0.334359,0.619467,0.365275
946147,22,51241386,rs568168135,C,G,0.009466,0.399984,418678,ADD,-0.000156,0.002011,0.005989,0.027652
946148,22,51244163,rs199560686,A,G,0.000035,0.145617,418678,ADD,-0.068253,0.054562,1.564790,0.675790
946149,22,51244237,rs575160859,C,T,0.013180,0.495588,418678,ADD,0.000430,0.001532,0.078926,0.108598

In [ ]:
merged.to_csv('../PD_ukb_step2_BT_ltfh.regenie', sep=' ', index=False)