In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [2]:
in_path = '/mnt/stsi/stsi1/ptseng/UKBB_Resources/phenos/pejman_request.txt'
pc_path = '/mnt/stsi/stsi1/sfchen/210301_ukbb_pca/bigsnpr_pca_ukbb_488371.csv'
raw_out_path = '/gpfs/home/ptseng/Torkamani_Projects/20210901_PD_UKBB/regenie_analysis/regenie_input/PD_covar_raw.txt'
out_path = '/gpfs/home/ptseng/Torkamani_Projects/20210901_PD_UKBB/regenie_analysis/regenie_input/PD_covar.txt'

In [3]:
def find_index(input_list,targets):
    index = 0
    index_list = []
    for element in input_list:
        for target in targets:
            if element == target:
                targets.remove(target)
                index_list.append(index)
        index += 1
    return (index_list,targets)

In [4]:
columns_of_interest = ['f.31.0.0','f.33.0.0','f.34.0.0','f.52.0.0']

first_line = True
with open(raw_out_path,'w') as outfile:
    with open(in_path,'r') as infile:
        for line in infile:
            line = list(line[:-1].split(' '))
            if first_line:
                (indices, missing) = find_index(line, columns_of_interest)
                print(f'Targets at positions: {" ".join([str(i) for i in indices])}')
                print(f'Missing targets: {" ".join(missing)}')
                first_line = False
            output_list = line[:2] + [line[index] for index in indices]
            output_line = ' '.join(output_list) + '\n'
            outfile.write(output_line)

Targets at positions: 23 24 89
Missing targets: f.33.0.0

In [5]:
matching = pd.read_csv('/mnt/stsi/stsi1/ptseng/UKBB_Resources/phenos/matched_torkamani_pejman_ids.txt',sep='\t',low_memory=False)
matching = matching.rename(columns={
    'Pejman':'pejID',
    'Torkamani':'torkID'
})
matching = matching[['pejID','torkID']]
matching = matching.loc[matching['pejID'] != 'f.eid']
matching = matching.astype('int64')
matching.head()

     pejID   torkID
0  3820588  3760523
1  2456041  1049680
2  3608945  4929987
3  4830048  2158683
4  1067801  5304020

In [6]:
data = pd.read_csv(raw_out_path,sep=' ')
data = data.rename(columns={
    'IID':'pejID',
    'f.52.0.0':'month of birth',
    'f.34.0.0':'year of birth',
    'f.31.0.0':'sex'
})
data['pejID'] = data['pejID'].astype('int64')
data = data.drop('FID',1)
data = data.merge(matching)
data[['FID']] = data['torkID']
data = data.rename(columns={'torkID':'IID'})
data = data[['FID','IID','month of birth','year of birth','sex']]

In [7]:
pc = pd.read_csv(pc_path)
pc = pc.rename(columns = {
    'Unnamed: 0':'IID'
})
pc.head()

,IID,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,...,PC12,PC13,PC14,PC15,PC16,PC17,PC18,PC19,PC20,pop_UKBB
0,-1,-195.760617,61.612740,4.679497,-6.489059,0.409499,0.250342,-1.498875,-2.535403,0.534753,...,1.275952,-4.044185,1.232074,-1.615948,4.680193,-0.885224,0.091946,0.445962,1.502939,NaN
1,-2,6.032428,2.649931,0.429739,2.863999,-4.285325,0.590410,2.069637,0.065346,3.707674,...,1.515505,1.758885,0.363705,-0.156096,-1.116444,-1.002545,-0.361225,-3.594374,-1.198614,NaN
2,-3,8.469874,1.966632,-0.339902,-4.246494,8.645955,0.302820,1.394637,1.272743,-3.383194,...,-2.992418,0.162633,0.843470,2.310012,-3.676293,-3.131343,-0.983622,-1.061131,-4.568804,NaN
3,-4,6.501635,0.748426,-0.093968,-0.243500,-3.070789,-0.852414,-1.279261,2.728370,-2.849084,...,0.679097,-0.040253,-1.591356,-0.254817,-0.084085,1.480715,-1.468695,-0.906197,-3.387277,NaN
4,-5,6.932398,3.910559,0.786199,2.008617,-7.914667,-5.594193,-2.822940,1.059656,-0.571545,...,-1.908615,2.668203,-0.791148,0.133818,-2.750164,-0.027363,-0.437290,-0.000992,1.932797,NaN

In [8]:
data = data.merge(pc)
data.head()

,FID,IID,month of birth,year of birth,sex,PC1,PC2,PC3,PC4,PC5,...,PC12,PC13,PC14,PC15,PC16,PC17,PC18,PC19,PC20,pop_UKBB
0,3267059,3267059,4.0,1965.0,0.0,-2.502580,-11.466487,-1.063685,3.623183,-5.030819,...,2.312471,1.562411,2.164048,1.513994,-1.650365,-3.046460,-0.775556,-4.595037,-1.738032,British
1,4406597,4406597,9.0,1946.0,1.0,5.947022,2.026528,1.933886,-0.737661,-0.433629,...,-3.148447,-0.981564,1.610517,-0.224103,0.504499,-0.832842,1.994787,0.851824,-0.088663,British
2,2438420,2438420,7.0,1959.0,0.0,7.153492,0.494202,0.777860,0.630823,-2.631984,...,-2.009089,-0.833381,-0.531845,-1.925933,0.677340,-0.662113,0.903368,-0.244749,2.503517,British
3,5753871,5753871,4.0,1954.0,1.0,7.632919,2.431949,2.466589,1.523998,-7.878406,...,0.858540,0.780771,-1.970366,-4.129939,2.634000,3.762746,-1.981525,3.106075,-4.837869,British
4,3391516,3391516,2.0,1945.0,0.0,7.973264,2.885244,1.519540,-5.765829,7.642176,...,-0.674515,0.034651,1.720744,-0.555311,-2.481043,-2.388421,-2.153690,-0.765458,-0.023807,British

In [9]:
data['age'] = 2020 - data['year of birth']
data['age**2'] = data['age'] ** 2
data['age*sex'] = data['age'] * data['sex']

In [10]:
subdata = data[(['FID','IID','sex','age','age**2','age*sex']+[f'PC{i}' for i in range(1,21)])]

In [11]:
subdata.to_csv(out_path,sep=' ',index=False)