In [1]:
library(data.table)
source('/gpfs/home/ptseng/LTFH/transformed_ltfh_effectsizes.R')

In [2]:
data = fread('../PD_ukb_step2_BT_ltfh.regenie', sep=' ')

In [3]:
head(data)

  CHROM GENPOS ID                               ALLELE0                ALLELE1
1 1     10177  rs367896724                      A                      AC
2 1     10235  rs540431307                      T                      TA
3 1     10352  rs201106462                      T                      TA
4 1     10511  rs534229142                      G                      A
5 1     10539  rs537182016                      C                      A
6 1     10616  1:10616_CCGCCGTTGCAAAGGCGCGCCG_C CCGCCGTTGCAAAGGCGCGCCG C
  A1FREQ      INFO     N      TEST BETA         SE          CHISQ    LOG10P
1 0.398746000 0.466462 418678 ADD  -0.000446616 0.000367074 1.480340 0.650292
2 0.000349555 0.197795 418678 ADD   0.007422560 0.014755700 0.253039 0.211165
3 0.393030000 0.444533 418678 ADD  -0.000237900 0.000378069 0.395956 0.276392
4 0.001266400 0.440420 418678 ADD  -0.007116820 0.005213410 1.863500 0.763912
5 0.000508716 0.190350 418678 ADD   0.007349460 0.012500900 0.345642 0.254464
6 0.994178000 0.459210 418678 ADD   0.002801070 0.002385390 1.378890 0.619265

In [4]:
data$BETA = transformed_effectsizes(data$BETA,data$SE,0.5,419488,0.00451352265716731,data$A1FREQ)

In [5]:
data$P <- pnorm(
    abs(data$BETA/data$SE),
    mean = 0,
    sd = 1, 
    lower.tail = FALSE
)
data$LOG10P <- -log10(data$P)

In [6]:
head(data)

  CHROM GENPOS ID                               ALLELE0                ALLELE1
1 1     10177  rs367896724                      A                      AC
2 1     10235  rs540431307                      T                      TA
3 1     10352  rs201106462                      T                      TA
4 1     10511  rs534229142                      G                      A
5 1     10539  rs537182016                      C                      A
6 1     10616  1:10616_CCGCCGTTGCAAAGGCGCGCCG_C CCGCCGTTGCAAAGGCGCGCCG C
  A1FREQ      INFO     N      TEST BETA          SE          CHISQ    LOG10P
1 0.398746000 0.466462 418678 ADD  -0.0002571694 0.000367074 1.480340 0.6165821
2 0.000349555 0.197795 418678 ADD   0.0027850166 0.014755700 0.253039 0.3714603
3 0.393030000 0.444533 418678 ADD  -0.0001333345 0.000378069 0.395956 0.4410911
4 0.001266400 0.440420 418678 ADD  -0.0039725516 0.005213410 1.863500 0.6516293
5 0.000508716 0.190350 418678 ADD   0.0026983773 0.012500900 0.345642 0.3824225
6 0.994178000 0.459210 418678 ADD   0.0015973943 0.002385390 1.378890 0.5993963
  P
1 0.2417786
2 0.4251476
3 0.3621670
4 0.2230338
5 0.4145505
6 0.2515381

In [7]:
fwrite(data,'../PD_ukb_step2_BT_ltfh.regenie.corrected',sep=' ')