In [2]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [3]:
in_path = '/mnt/stsi/stsi1/ptseng/UKBB_Resources/phenos/pejman_request.txt'
raw_out_path = '/gpfs/home/ptseng/Torkamani_Projects/20210901_PD_UKBB/regenie/regenie_input/PD_pheno_raw.txt'
out_path = '/gpfs/home/ptseng/Torkamani_Projects/20210901_PD_UKBB/regenie/regenie_input/PD_pheno.txt'

In [4]:
def find_index(input_list,targets):
    index = 0
    index_list = []
    for element in input_list:
        for target in targets:
            if element == target:
                targets.remove(target)
                index_list.append(index)
        index += 1
    return (index_list,targets)

In [5]:
columns_of_interest = [f'f.{i}.0.0' for i in range(42030,42038)] + [ 
    "f.20107.0.0", "f.20107.0.1", "f.20107.0.2", "f.20107.0.3", "f.20107.0.4", "f.20107.0.5", "f.20107.0.6", "f.20107.0.7", "f.20107.0.8", "f.20107.0.9", 
    "f.20107.1.0", "f.20107.1.1", "f.20107.1.2", "f.20107.1.3", "f.20107.1.4", "f.20107.1.5", "f.20107.1.6", "f.20107.1.7", "f.20107.1.8", "f.20107.1.9", 
    "f.20107.2.0", "f.20107.2.1", "f.20107.2.2", "f.20107.2.3", "f.20107.2.4", "f.20107.2.5", "f.20107.2.6", "f.20107.2.7", "f.20107.2.8", "f.20107.2.9", 
    "f.20107.3.0", "f.20107.3.1", "f.20107.3.2", "f.20107.3.3", "f.20107.3.4", "f.20107.3.5", "f.20107.3.6", "f.20107.3.7", "f.20107.3.8", "f.20107.3.9"
] + [
    "f.20110.0.0", "f.20110.0.1", "f.20110.0.2", "f.20110.0.3", "f.20110.0.4", "f.20110.0.5", "f.20110.0.6", "f.20110.0.7", "f.20110.0.8", "f.20110.0.9", "f.20110.0.10", 
    "f.20110.1.0", "f.20110.1.1", "f.20110.1.2", "f.20110.1.3", "f.20110.1.4", "f.20110.1.5", "f.20110.1.6", "f.20110.1.7", "f.20110.1.8", "f.20110.1.9", "f.20110.1.10", 
    "f.20110.2.0", "f.20110.2.1", "f.20110.2.2", "f.20110.2.3", "f.20110.2.4", "f.20110.2.5", "f.20110.2.6", "f.20110.2.7", "f.20110.2.8", "f.20110.2.9", "f.20110.2.10", 
    "f.20110.3.0", "f.20110.3.1", "f.20110.3.2", "f.20110.3.3", "f.20110.3.4", "f.20110.3.5", "f.20110.3.6", "f.20110.3.7", "f.20110.3.8", "f.20110.3.9", "f.20110.3.10"
] + [
    "f.20111.0.0", "f.20111.0.1", "f.20111.0.2", "f.20111.0.3", "f.20111.0.4", "f.20111.0.5", "f.20111.0.6", "f.20111.0.7", "f.20111.0.8", "f.20111.0.9", "f.20111.0.10", "f.20111.0.11", 
    "f.20111.1.0", "f.20111.1.1", "f.20111.1.2", "f.20111.1.3", "f.20111.1.4", "f.20111.1.5", "f.20111.1.6", "f.20111.1.7", "f.20111.1.8", "f.20111.1.9", "f.20111.1.10", "f.20111.1.11", 
    "f.20111.2.0", "f.20111.2.1", "f.20111.2.2", "f.20111.2.3", "f.20111.2.4", "f.20111.2.5", "f.20111.2.6", "f.20111.2.7", "f.20111.2.8", "f.20111.2.9", "f.20111.2.10", "f.20111.2.11", 
    "f.20111.3.0", "f.20111.3.1", "f.20111.3.2", "f.20111.3.3", "f.20111.3.4", "f.20111.3.5", "f.20111.3.6", "f.20111.3.7", "f.20111.3.8", "f.20111.3.9", "f.20111.3.10", "f.20111.3.11"
] + [
    "f.1873.0.0", "f.1873.1.0", "f.1873.2.0", "f.1873.3.0", 
    "f.1883.0.0", "f.1883.1.0", "f.1883.2.0", "f.1883.3.0"
]

first_line = True
with open(raw_out_path,'w') as outfile:
    with open(in_path,'r') as infile:
        for line in infile:
            line = list(line[:-1].split(' '))
            if first_line:
                (indices, missing) = find_index(line, columns_of_interest)
                print(f'Targets at positions: {" ".join([str(i) for i in indices])}')
                print(f'Missing targets: {" ".join(missing)}')
                first_line = False
            output_list = line[:2] + [line[index] for index in indices]
            output_line = ' '.join(output_list) + '\n'
            outfile.write(output_line)

Targets at positions: 860 861 862 863 864 865 866 867 8608 8609 8610 8611 8612 8613 8614 8615 8616 8617 8618 8619 8620 8621 8622 8623 8624 8625 8626 8627 8628 8629 8630 8631 8632 8633 8634 8635 8636 8637 8638 8639 8640 8641 8642 8643 8644 8645 8646 8647 8703 8704 8705 8706 8707 8708 8709 8710 8711 8712 8713 8714 8715 8716 8717 8718 8719 8720 8721 8722 8723 8724 8725 8726 8727 8728 8729 8730 8731 8732 8733 8734 8735 8736 8737 8738 8739 8740 8741 8742 8743 8744 8745 8746 8747 8748 8749 8750 8751 8752 8753 8754 8755 8756 8757 8758 8759 8760 8761 8762 8763 8764 8765 8766 8767 8768 8769 8770 8771 8772 8773 8774 8775 8776 8777 8778 8779 8780 8781 8782 8783 8784 8785 8786 8787 8788 8789 8790 8791 8792 8793 8794 16508 16509 16510 16511 16512 16513 16514 16515
Missing targets:

In [5]:
matching = pd.read_csv('/mnt/stsi/stsi1/ptseng/UKBB_Resources/phenos/matched_torkamani_pejman_ids.txt',sep='\t',low_memory=False)
matching = matching.rename(columns={
    'Pejman':'pejID',
    'Torkamani':'torkID'
})
matching = matching[['pejID','torkID']]
matching = matching.loc[matching['pejID'] != 'f.eid']
matching = matching.astype('int64')
matching.head()

     pejID   torkID
0  3820588  3760523
1  2456041  1049680
2  3608945  4929987
3  4830048  2158683
4  1067801  5304020

In [6]:
data = pd.read_csv(raw_out_path, sep=' ', low_memory=False)
data = data.rename(columns={
    'IID':'pejID',
    'f.42030.0.0':'Date of all cause parkinsonism report',
    'f.42031.0.0':'Source of all cause parkinsonism report',
    'f.42032.0.0':'Date of parkinson\'s disease report',
    'f.42033.0.0':'Source of parkinson\'s disease report',
    'f.42034.0.0':'Date of progressive supranuclear palsy report',
    'f.42035.0.0':'Source of progressive supranuclear palsy report',
    'f.42036.0.0':'Date of multiple system atrophy report',
    'f.42037.0.0':'Source of multiple system atrophy report'
                    })
data['pejID'] = data['pejID'].astype('int64')
data = data.drop('FID',1)
data = data.merge(matching)
data[['FID']] = data['torkID']
data = data.rename(columns={'torkID':'IID'})
data = data[([
    'FID',
    'IID',
    'Date of all cause parkinsonism report',
    'Source of all cause parkinsonism report',
    'Date of parkinson\'s disease report',
    'Source of parkinson\'s disease report',
    'Date of progressive supranuclear palsy report',
    'Source of progressive supranuclear palsy report',
    'Date of multiple system atrophy report',
    'Source of multiple system atrophy report',] + [ 
    "f.20107.0.0", "f.20107.0.1", "f.20107.0.2", "f.20107.0.3", "f.20107.0.4", "f.20107.0.5", "f.20107.0.6", "f.20107.0.7", "f.20107.0.8", "f.20107.0.9", 
    "f.20107.1.0", "f.20107.1.1", "f.20107.1.2", "f.20107.1.3", "f.20107.1.4", "f.20107.1.5", "f.20107.1.6", "f.20107.1.7", "f.20107.1.8", "f.20107.1.9", 
    "f.20107.2.0", "f.20107.2.1", "f.20107.2.2", "f.20107.2.3", "f.20107.2.4", "f.20107.2.5", "f.20107.2.6", "f.20107.2.7", "f.20107.2.8", "f.20107.2.9", 
    "f.20107.3.0", "f.20107.3.1", "f.20107.3.2", "f.20107.3.3", "f.20107.3.4", "f.20107.3.5", "f.20107.3.6", "f.20107.3.7", "f.20107.3.8", "f.20107.3.9"
] + [
    "f.20110.0.0", "f.20110.0.1", "f.20110.0.2", "f.20110.0.3", "f.20110.0.4", "f.20110.0.5", "f.20110.0.6", "f.20110.0.7", "f.20110.0.8", "f.20110.0.9", "f.20110.0.10", 
    "f.20110.1.0", "f.20110.1.1", "f.20110.1.2", "f.20110.1.3", "f.20110.1.4", "f.20110.1.5", "f.20110.1.6", "f.20110.1.7", "f.20110.1.8", "f.20110.1.9", "f.20110.1.10", 
    "f.20110.2.0", "f.20110.2.1", "f.20110.2.2", "f.20110.2.3", "f.20110.2.4", "f.20110.2.5", "f.20110.2.6", "f.20110.2.7", "f.20110.2.8", "f.20110.2.9", "f.20110.2.10", 
    "f.20110.3.0", "f.20110.3.1", "f.20110.3.2", "f.20110.3.3", "f.20110.3.4", "f.20110.3.5", "f.20110.3.6", "f.20110.3.7", "f.20110.3.8", "f.20110.3.9", "f.20110.3.10"
] + [
    "f.20111.0.0", "f.20111.0.1", "f.20111.0.2", "f.20111.0.3", "f.20111.0.4", "f.20111.0.5", "f.20111.0.6", "f.20111.0.7", "f.20111.0.8", "f.20111.0.9", "f.20111.0.10", "f.20111.0.11", 
    "f.20111.1.0", "f.20111.1.1", "f.20111.1.2", "f.20111.1.3", "f.20111.1.4", "f.20111.1.5", "f.20111.1.6", "f.20111.1.7", "f.20111.1.8", "f.20111.1.9", "f.20111.1.10", "f.20111.1.11", 
    "f.20111.2.0", "f.20111.2.1", "f.20111.2.2", "f.20111.2.3", "f.20111.2.4", "f.20111.2.5", "f.20111.2.6", "f.20111.2.7", "f.20111.2.8", "f.20111.2.9", "f.20111.2.10", "f.20111.2.11", 
    "f.20111.3.0", "f.20111.3.1", "f.20111.3.2", "f.20111.3.3", "f.20111.3.4", "f.20111.3.5", "f.20111.3.6", "f.20111.3.7", "f.20111.3.8", "f.20111.3.9", "f.20111.3.10", "f.20111.3.11"
])]
data.head()

,FID,IID,Date of all cause parkinsonism report,Source of all cause parkinsonism report,Date of parkinson's disease report,Source of parkinson's disease report,Date of progressive supranuclear palsy report,Source of progressive supranuclear palsy report,Date of multiple system atrophy report,Source of multiple system atrophy report,...,f.20111.3.2,f.20111.3.3,f.20111.3.4,f.20111.3.5,f.20111.3.6,f.20111.3.7,f.20111.3.8,f.20111.3.9,f.20111.3.10,f.20111.3.11
0,3267059,3267059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4406597,4406597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2438420,2438420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5753871,5753871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3391516,3391516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data['PD'] = False
for (column_name,column_data) in data.iteritems():
    if column_name[0] == 'f':
        data['PD'] |= (data[column_name] == 11)

In [8]:
data['PD'] |= data['Date of all cause parkinsonism report'].notna()
data['PD'] = data['PD'].astype('int8')
data.head()

,FID,IID,Date of all cause parkinsonism report,Source of all cause parkinsonism report,Date of parkinson's disease report,Source of parkinson's disease report,Date of progressive supranuclear palsy report,Source of progressive supranuclear palsy report,Date of multiple system atrophy report,Source of multiple system atrophy report,...,f.20111.3.3,f.20111.3.4,f.20111.3.5,f.20111.3.6,f.20111.3.7,f.20111.3.8,f.20111.3.9,f.20111.3.10,f.20111.3.11,PD
0,3267059,3267059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,4406597,4406597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2438420,2438420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,5753871,5753871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,3391516,3391516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [9]:
subdata = data.loc[:,['FID','IID','PD']]
subdata.to_csv(out_path,sep = ' ',index = False)

In [10]:
subdata.loc[subdata['PD']==1]

            FID      IID  PD
2       2438420  2438420   1
18      1432217  1432217   1
23      1446650  1446650   1
89      2534298  2534298   1
117     4430802  4430802   1
...         ...      ...  ..
501090  3291543  3291543   1
501114  4165856  4165856   1
501116  1902241  1902241   1
501129  2295231  2295231   1
501130  2391541  2391541   1

[22470 rows x 3 columns]