In [1]:
library(data.table)
library(ggplot2)

In [2]:
source('/gpfs/home/ptseng/LTFH/assign_ltfh.R')

In [3]:
raw_out_path <- '/gpfs/home/ptseng/Torkamani_Projects/20210901_PD_UKBB/regenie/regenie_input/PD_pheno_raw.txt'

In [4]:
data <- fread(raw_out_path,sep=' ')

In [5]:
subdata <- data.table(data[,'IID'])

In [6]:
subdata[,'CHILD_STATUS'] <- as.integer(!is.na(data[,'f.42030.0.0']))

In [7]:
iteration_1 <- TRUE
PD_catcher <- data.frame(IID=data[,'IID'],PD=FALSE)
na_catcher <- data.frame(IID=data[,'IID'],na=TRUE)

for (field in c(
    "f.20107.0.0", "f.20107.0.1", "f.20107.0.2", "f.20107.0.3", "f.20107.0.4", "f.20107.0.5", "f.20107.0.6", "f.20107.0.7", "f.20107.0.8", "f.20107.0.9", 
    "f.20107.1.0", "f.20107.1.1", "f.20107.1.2", "f.20107.1.3", "f.20107.1.4", "f.20107.1.5", "f.20107.1.6", "f.20107.1.7", "f.20107.1.8", "f.20107.1.9", 
    "f.20107.2.0", "f.20107.2.1", "f.20107.2.2", "f.20107.2.3", "f.20107.2.4", "f.20107.2.5", "f.20107.2.6", "f.20107.2.7", "f.20107.2.8", "f.20107.2.9", 
    "f.20107.3.0", "f.20107.3.1", "f.20107.3.2", "f.20107.3.3", "f.20107.3.4", "f.20107.3.5", "f.20107.3.6", "f.20107.3.7", "f.20107.3.8", "f.20107.3.9"
)) {
    temp <- (data[ , ..field] == 11)
    temp[is.na(temp)] <- FALSE
    PD_catcher$PD <- PD_catcher$PD | temp
    
    temp1 <- (data[,..field] < 0)
    temp2 <- is.na(data[,..field])
    temp1[is.na(temp)] <- FALSE
    temp2[is.na(temp)] <- FALSE
    temp <- temp1 | temp2
    na_catcher$na <- na_catcher$na & temp
}

na_catcher$na[na_catcher$na==TRUE] <- NA

subdata[,'P1_STATUS'] <- as.integer(PD_catcher$PD | na_catcher$na)

In [8]:
iteration_1 <- TRUE
PD_catcher <- data.frame(IID=data[,'IID'],PD=FALSE)
na_catcher <- data.frame(IID=data[,'IID'],na=TRUE)

for (field in c(
    "f.20110.0.0", "f.20110.0.1", "f.20110.0.2", "f.20110.0.3", "f.20110.0.4", "f.20110.0.5", "f.20110.0.6", "f.20110.0.7", "f.20110.0.8", "f.20110.0.9", "f.20110.0.10", 
    "f.20110.1.0", "f.20110.1.1", "f.20110.1.2", "f.20110.1.3", "f.20110.1.4", "f.20110.1.5", "f.20110.1.6", "f.20110.1.7", "f.20110.1.8", "f.20110.1.9", "f.20110.1.10", 
    "f.20110.2.0", "f.20110.2.1", "f.20110.2.2", "f.20110.2.3", "f.20110.2.4", "f.20110.2.5", "f.20110.2.6", "f.20110.2.7", "f.20110.2.8", "f.20110.2.9", "f.20110.2.10", 
    "f.20110.3.0", "f.20110.3.1", "f.20110.3.2", "f.20110.3.3", "f.20110.3.4", "f.20110.3.5", "f.20110.3.6", "f.20110.3.7", "f.20110.3.8", "f.20110.3.9", "f.20110.3.10"
)) {
    temp <- (data[,..field] == 11)
    temp[is.na(temp)] <- FALSE
    PD_catcher$PD <- PD_catcher$PD | temp
    
    temp1 <- (data[,..field] < 0)
    temp2 <- is.na(data[,..field])
    temp1[is.na(temp)] <- FALSE
    temp2[is.na(temp)] <- FALSE
    temp <- temp1 | temp2
    na_catcher$na <- na_catcher$na & temp
}

na_catcher$na[na_catcher$na==TRUE] <- NA


subdata[,'P2_STATUS'] <- as.integer(PD_catcher$PD | na_catcher$na)

In [9]:
working_total <- data.frame(IID=data[,'IID'],siblings=NA)

for (field in c(
    "f.1873.0.0", "f.1873.1.0", "f.1873.2.0", "f.1873.3.0", 
    "f.1883.0.0", "f.1883.1.0", "f.1883.2.0", "f.1883.3.0"
)) {
    temp <- data[,c('IID',..field)]
    temp[temp < 0] <- NA
    temp <- na.omit(temp)
    
    ind <- match(temp$IID, working_total$IID)
    working_total[ind, 'siblings'] <- temp[,..field]
}


subdata[,'NUM_SIBS'] <- as.integer(working_total$siblings)

In [10]:
iteration_1 <- TRUE
PD_catcher <- data.frame(IID=data[,'IID'],PD=FALSE)
na_catcher <- data.frame(IID=data[,'IID'],na=TRUE)

for (field in c(
    "f.20111.0.0", "f.20111.0.1", "f.20111.0.2", "f.20111.0.3", "f.20111.0.4", "f.20111.0.5", "f.20111.0.6", "f.20111.0.7", "f.20111.0.8", "f.20111.0.9", "f.20111.0.10", "f.20111.0.11", 
    "f.20111.1.0", "f.20111.1.1", "f.20111.1.2", "f.20111.1.3", "f.20111.1.4", "f.20111.1.5", "f.20111.1.6", "f.20111.1.7", "f.20111.1.8", "f.20111.1.9", "f.20111.1.10", "f.20111.1.11", 
    "f.20111.2.0", "f.20111.2.1", "f.20111.2.2", "f.20111.2.3", "f.20111.2.4", "f.20111.2.5", "f.20111.2.6", "f.20111.2.7", "f.20111.2.8", "f.20111.2.9", "f.20111.2.10", "f.20111.2.11", 
    "f.20111.3.0", "f.20111.3.1", "f.20111.3.2", "f.20111.3.3", "f.20111.3.4", "f.20111.3.5", "f.20111.3.6", "f.20111.3.7", "f.20111.3.8", "f.20111.3.9", "f.20111.3.10", "f.20111.3.11"
)) {
    temp <- (data[, ..field] == 11)
    temp[is.na(temp)] <- FALSE
    PD_catcher$PD <- PD_catcher$PD | temp
    
    temp1 <- (data[,..field] < 0)
    temp2 <- is.na(data[,..field])
    temp1[is.na(temp)] <- FALSE
    temp2[is.na(temp)] <- FALSE
    temp <- temp1 | temp2
    na_catcher$na <- na_catcher$na & temp
}

na_catcher$na[na_catcher$na==TRUE] <- NA


subdata[,'SIB_STATUS'] <- as.integer(PD_catcher$PD | na_catcher$na)

In [11]:
subdata <- data.frame(subdata)

In [12]:
result = create_pheno(
    data=subdata,
    trait_h2=0.755,
    T_val_child=qnorm(mean(subdata[,'CHILD_STATUS'],na.rm=T),lower.tail = FALSE),
    T_val_parent=qnorm(mean(c(subdata[,'P1_STATUS'],subdata[,'P2_STATUS']),na.rm=T),lower.tail = FALSE),
    relevant_trait_child='CHILD_STATUS',
    relevant_trait_dad='P1_STATUS',
    relevant_trait_mom='P2_STATUS',
    number_siblings_col='NUM_SIBS',
    relevant_trait_sib='SIB_STATUS',
    maximum_siblings_to_compute=10
)

In [13]:
result_df <- data.table(result)
names(result_df) <- c('IID','ltfh_cc','ltfh_nosib','ltfh')
result_df$IID <- as.character(result_df$IID)

In [14]:
names(result_df) <- c('pejID','ltfh_cc','ltfh_nosib','ltfh')
matching = read.csv('/mnt/stsi/stsi1/ptseng/UKBB_Resources/phenos/matched_torkamani_pejman_ids.txt',sep='\t')
names(matching) <- c('torkID','pejID')

In [15]:
output = merge(result_df,matching,by='pejID',all=TRUE)
output = output[output$torkID != 'f.eid',c('torkID','torkID','ltfh')]

In [16]:
names(output) <- c('FID','IID','ltfh')

In [17]:
output$FID <- as.integer(output$FID)
output$IID <- as.integer(output$IID)

In [24]:
fwrite(output,'../regenie_input/PD_ltfh.txt',sep=' ',na='NA',quote=FALSE)

In [19]:
subdata <- data.table(subdata)
names(matching) <- c('torkID','IID')
names(result_df) <- c('IID','ltfh_cc','ltfh_nosib','ltfh')
composite <- merge(matching,subdata)
composite <- merge(composite,result_df[,c('IID','ltfh')])
composite <- data.table(composite)

In [20]:
composite[!is.finite(composite$ltfh),]

     IID torkID CHILD_STATUS P1_STATUS P2_STATUS NUM_SIBS SIB_STATUS ltfh

In [21]:
composite[composite$IID == 5885687]

     IID torkID CHILD_STATUS P1_STATUS P2_STATUS NUM_SIBS SIB_STATUS ltfh

In [22]:
length(output$IID)

[1] 501141

In [23]:
output[is.na(output$ltfh)]

  FID     IID     ltfh
1 5885687 5885687 NA