In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file_list = [f'../regenie_output/PD_ukb_step2_BT.chr{i}_ltfh.regenie' for i in range(1,23)]

In [3]:
merged = pd.DataFrame()
for i in range(0,22):
    print(f'Reading Chromosome {""*len(str(i+1))}{i+1} statsfile')
    merged = merged.append(pd.read_csv(file_list[i], sep=' '))

Reading Chromosome 1 statsfile
Reading Chromosome 2 statsfile
Reading Chromosome 3 statsfile
Reading Chromosome 4 statsfile
Reading Chromosome 5 statsfile
Reading Chromosome 6 statsfile
Reading Chromosome 7 statsfile
Reading Chromosome 8 statsfile
Reading Chromosome 9 statsfile
Reading Chromosome 10 statsfile
Reading Chromosome 11 statsfile
Reading Chromosome 12 statsfile
Reading Chromosome 13 statsfile
Reading Chromosome 14 statsfile
Reading Chromosome 15 statsfile
Reading Chromosome 16 statsfile
Reading Chromosome 17 statsfile
Reading Chromosome 18 statsfile
Reading Chromosome 19 statsfile
Reading Chromosome 20 statsfile
Reading Chromosome 21 statsfile
Reading Chromosome 22 statsfile

In [4]:
merged

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,INFO,N,TEST,BETA,SE,CHISQ,LOG10P
0,1,10177,rs367896724,A,AC,0.398785,0.466075,422751,ADD,-0.000668,0.000750,0.793058,0.428085
1,1,10235,rs540431307,T,TA,0.000347,0.198116,422751,ADD,0.006174,0.030219,0.041743,0.076699
2,1,10352,rs201106462,T,TA,0.393009,0.444227,422751,ADD,-0.000797,0.000772,1.064580,0.519745
3,1,10511,rs534229142,G,A,0.001264,0.437284,422751,ADD,-0.009062,0.010696,0.717800,0.401356
4,1,10539,rs537182016,C,A,0.000503,0.186152,422751,ADD,0.007351,0.025947,0.080260,0.109609
...,...,...,...,...,...,...,...,...,...,...,...,...,...
948282,22,51241285,rs7287738,T,G,0.000591,0.125047,422751,ADD,-0.010245,0.029350,0.121848,0.138443
948283,22,51241309,rs534860445,C,T,0.000010,0.014199,422751,ADD,-0.651567,0.679007,0.920808,0.472031
948284,22,51241386,rs568168135,C,G,0.009456,0.400065,422751,ADD,-0.001572,0.004108,0.146469,0.153705
948285,22,51244163,rs199560686,A,G,0.000035,0.144656,422751,ADD,-0.144421,0.111284,1.684200,0.711376
948286,22,51244237,rs575160859,C,T,0.013193,0.496079,422751,ADD,0.000351,0.003126,0.012622,0.040698

In [5]:
merged.to_csv('../PD_ukb_step2_BT_ltfh.regenie', sep=' ', index=False)