In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file_list = [f'../regenie_output/PCa_ukb_step2_BT.chr{i}_PCa.regenie' for i in range(1,23)]

In [3]:
merged = pd.DataFrame()
for i in range(0,22):
    print(f'Reading Chromosome {""*len(str(i+1))}{i+1} statsfile')
    merged = merged.append(pd.read_csv(file_list[i], sep=' '))

Reading Chromosome 1 statsfile
Reading Chromosome 2 statsfile
Reading Chromosome 3 statsfile
Reading Chromosome 4 statsfile
Reading Chromosome 5 statsfile
Reading Chromosome 6 statsfile
Reading Chromosome 7 statsfile
Reading Chromosome 8 statsfile
Reading Chromosome 9 statsfile
Reading Chromosome 10 statsfile
Reading Chromosome 11 statsfile
Reading Chromosome 12 statsfile
Reading Chromosome 13 statsfile
Reading Chromosome 14 statsfile
Reading Chromosome 15 statsfile
Reading Chromosome 16 statsfile
Reading Chromosome 17 statsfile
Reading Chromosome 18 statsfile
Reading Chromosome 19 statsfile
Reading Chromosome 20 statsfile
Reading Chromosome 21 statsfile
Reading Chromosome 22 statsfile

In [4]:
merged

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,INFO,N,TEST,BETA,SE,CHISQ,LOG10P
0,1,10177,rs367896724,A,AC,0.399180,0.465726,168028,ADD,0.035732,0.026802,1.777290,0.738778
1,1,10235,rs540431307,T,TA,0.000339,0.191639,168028,ADD,0.275924,1.202290,0.052670,0.086991
2,1,10352,rs201106462,T,TA,0.392624,0.443509,168028,ADD,0.028014,0.027116,1.067300,0.520632
3,1,10511,rs534229142,G,A,0.001250,0.439685,168028,ADD,0.569035,0.361933,2.471850,0.935911
4,1,10539,rs537182016,C,A,0.000511,0.182336,168028,ADD,1.286690,0.892505,2.078370,0.825652
...,...,...,...,...,...,...,...,...,...,...,...,...,...
821761,22,51241102,rs533336397,T,C,0.000149,0.241176,168028,ADD,-0.226291,1.381340,0.026837,0.060545
821762,22,51241285,rs7287738,T,G,0.000599,0.130705,168028,ADD,0.510268,0.926368,0.303411,0.235262
821763,22,51241386,rs568168135,C,G,0.009322,0.387437,168028,ADD,0.290382,0.150451,3.725200,1.270860
821764,22,51244163,rs199560686,A,G,0.000036,0.148631,168028,ADD,-0.073735,0.688254,0.011477,0.038729
821765,22,51244237,rs575160859,C,T,0.013040,0.492705,168028,ADD,0.042942,0.109632,0.153423,0.157837

In [ ]:
merged.to_csv('../PCa_ukb_step2_BT_PCa.regenie', sep='\t', index=False)